{{#if addNewAnswer}}
  <h1>Respond to this Question</h1>
    <div>
      <form>
        <div class="form-group">
          <label for="author">Author</label>
          {{input value=author id="author"}}
        </div>

        <div class="form-group">
          <label for="date">Date</label>
          {{input value=date id="date" type="date"}}
        </div>

        <div class="form-group">
          <label for="response">Response</label>
          {{textarea value=response id="response"}}
        </div>

        <button {{action 'save4'}}>Respond</button>
      </form>
    </div>
{{else}}
    <button {{action 'answerFormShow'}}>Respond</button>
{{/if}}
