{{#if updateQuestionForm}}
  <h4>Update {{question.author}}'s Question</h4>
    <div>
      <form>
        <div class="form-group">
          <label for="subject">Subject</label>
          {{input value=subject id="subject" placeholder=question.subject}}
        </div>

        <div class="form-group">
          <label for="author">Author</label>
          {{input value=author id="author" placeholder=question.author}}
        </div>

        <div class="form-group">
          <label for="date">Date</label>
          {{input value=date id="date" placeholder=question.date}}
        </div>

        <div class="form-group">
          <label for="content">Content</label>
          {{input value=content id="content" placeholder=question.content}}
        </div>

        <button {{action 'update' question}}>Save</button>
      </form>
    </div>
{{else}}
    <button {{action 'updateQuestionForm'}}>Update Your Question</button>
{{/if}}
