<div class="questionAnswersContainer">

  <div class="questionContainer">
    <h1>{{model.question.subject}}</h1>

    <p><b>Author:</b> {{model.question.author}}</p>
    <p><b>Posted On:</b> {{model.question.date}}</p>
    <p>{{model.question.content}}</p>
  </div>

  <div class="answerContainer">
    <h2>Worldly Responses</h2>
    <p class="contribute">((Contribute your genius insight))</p>
    {{#each model.answers as |answer|}}
      <b>{{answer.author}}</b> - posted on: {{answer.date}}<br>
      <div class="answerResponse"><p>{{answer.response}}</p>
      </div>
    {{/each}}
    <div class="newQuestion">
      {{new-answer save5="save6"}}
    </div>
  </div>

</div>
