<div class="questionContainer">
  <h1>{{model.question.subject}}</h1>

  <p>Author: {{model.question.author}}</p>
  <p>Posted On: {{model.question.date}}</p>
  <p>{{model.question.content}}</p>

  <h1>Answers</h1>
  <ul>
  {{#each model.answers as |answer|}}
    <li>{{answer.author}} - posted on: {{answer.date}}</li>
    <li>{{answer.response}}</li>
    <li></li>
  {{/each}}
</ul>
{{new-answer save5="save6"}}
{{update-answer answer=answer update="update"}}
</div>
